.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal__container {
  position: relative;
  margin: auto;
  padding: 28px 30px 46px 30px;
  background-color: #ffffff;
  border: 1px solid #C6C6C6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
  width: 320px;

  @include tablet {
    padding: 37px 92px 46px 93px;
    width: 566px;
  }

  @include desktop {
    padding: 37px 92px 46px 93px;
    width: 566px;
  }
}

.modal__title {
  margin: 0 auto 14px auto;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  width: 159px;

  @include tablet {
    width: 381px;
    font-size: 28px;
    line-height: 57px;
  }

  @include desktop {
    width: 381px;
    font-size: 28px;
    line-height: 57px;
  }
}
