.catalog__hero {
  margin: 0 -30px;
  background-color: #f1f1f1;
  min-width: 320px;
  min-height: 177px;
  display: flex;

  @include tablet {
    margin: 0 -50px;
    position: relative;
  }

  @include desktop {
    margin: 0 -50px;
    position: relative;
  }
}

.catalog__news {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    margin: 19px 0 0 51px;
  }
}

.catalog__delivery {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 19px;
    right: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }

  @include desktop {
    display: block;
    position: absolute;
    top: 19px;
    right: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
}

.catalog__title {
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

.catalog__list {
  margin: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin: 67px 50px 53px 50px;
    width: 669px;
    flex-direction: column;
  }

  @include desktop {
    margin: 111px 50px 57px 50px;
    display: grid;
    grid-template-columns: 316px 316px 316px;
    gap: 51px;
  }
}
