.catalog__hero {
  background-color: #f1f1f1;
  min-width: 320px;
  min-height: 177px;
  display: flex;
}

.catalog__title {
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

.catalog__list {
  margin: 30px;
  list-style-type: none;
}

.ware {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.item {
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 28px 22px 26px 28px;
}

.item__title {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.item__description {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.item__hr {
  border: 1px solid #ececec;
  background-color: #ececec;
  margin-bottom: 22px;
}

.pricelist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricelist__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

