.chevron {
  margin-bottom: 33px;

  @include tablet {
    margin: 0;
    display: flex;
    position: absolute;
    right: 32px;
    top: 36px;
  }

  @include desktop {
    margin: 0;
    display: flex;
    position: absolute;
    right: -4px;
    top: 141px;
  }
}

.chevron__item {
  background-color: #ffffff;
  border: 2px solid #ececec;
  box-sizing: border-box;
  padding: 11px 38px 11px 38px;
  min-width: 50px;

  @include tablet {
    border: none;
  }

  @include desktop {
    border: none;
  }
}

.chevron__item:first-child {
  margin-right: -6px;
  z-index: 99;
  min-width: 50px;

  @include tablet {
    margin-right: -43px;
  }

  @include desktop {
    margin-right: -43px;
  }
}

.chevron__item svg:hover {
  opacity: 0.6;
  cursor: pointer;
}
