.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 -30px;
  align-items: center;
  position: relative;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    display: grid;
    grid-template-areas:
      "contacts__container contacts__location"
      "contacts__list contacts__location"
      "contacts__button contacts__location";
    min-width: 1050px;
    justify-content: space-between;
    margin: 0 0 45px 0;
  }
}

.contacts__container {
  min-width: 260px;
  margin: 38px 0 28px 0;

  @include tablet {
    min-width: 668px;
    margin: 50px 0 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    grid-area: contacts__container;
    margin: 165px 0 25px 61px;
    display: flex;
    align-items: center;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin-left: 64px;
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__container svg {
  display: none;

  @include tablet {
    display: block;
    margin-bottom: 10px;
  }

  @include desktop {
    display: block;
    margin: 0;
  }
}

.contacts__list {
  margin: 0 0 62px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    min-width: 668px;
    margin-bottom: 49px;
    margin-left: 0;
    flex-direction: row;
  }

  @include desktop {
    grid-area: contacts__list;
    margin: 0 0 84px 174px;
    flex-direction: column;
  }
}

.contacts__item {
  display: flex;
}

.contacts__item:first-child {
  height: 100%;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 0;
    margin-right: 55px;
  }
}

.contacts__description {
  max-width: 183px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @include tablet {
    max-width: 218px;
    font-size: 17px;
  }

  @include desktop {
    font-size: 17px;
    max-width: 218px;
  }
}

.contacts__description-active {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
  cursor: pointer;

  @include tablet {
    font-size: 17px;
  }

  @include desktop {
    font-size: 17px;
  }

  &:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:disabled {
    color: #46c1ae;
    border-bottom: 1px solid rgba($color: #46c1ae, $alpha: 0.1);
  }
}

.contacts__name {
  width: 76px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @include tablet {
    font-size: 17px;
  }

  @include desktop {
    font-size: 17px;
  }
}

.contacts__map {
  margin-bottom: 44px;
  display: block;
  border: none;
  width: 100vw;

  @include tablet {
    width: 100vw;
    height: 457px;
    margin: 0 -50px 55px -50px;
  }

  @include desktop {
    margin: 35px 0 0 0;
    width: 527px;
    height: 457px;
  }
}

.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto 41px auto;
  box-sizing: border-box;
  padding: 14px 50px;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  cursor: pointer;

  @include tablet {
    font-size: 17px;
    margin: 0 auto 57px auto;
    padding: 14px 36px;
  }

  @include desktop {
    grid-area: contacts__button;
    font-size: 17px;
    margin: 0 0 57px 174px;
    padding: 16px 27px;
    max-width: 230px;
  }

  &:hover {
    background-color: #444444;
    border: 2px solid #444444;
    color: #ffffff;
  }

  &:disabled {
    background-color: #444444;
    border: 2px solid #444444;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.contacts__location {
  grid-area: contacts__location;
}

.contacts__location picture {
  display: none;
}

.contacts__nojs picture {
  display: block;
  width: 320px;
  height: 456px;
  margin-bottom: 41px;

  @include tablet {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }

  @include desktop {
    margin-top: 83px;
    width: 527px;
    height: 457px;
  }
}

.contacts__nojs iframe {
  display: none;
}
