.contacts {
  margin: 0 -30px;
  // background-image: url("/img/background/zigzag.png");
  // background-repeat: repeat-x;
  // background-position: top;
  position: relative;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin: 0;
  }
}

.contacts__container {
  margin: 38px 0 28px 30px;

  @include tablet {
    margin: 46px 0 49px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    margin: 133px 0 27px 61px;
    display: flex;
    align-items: center;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin-left: 64px;
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__container svg {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: block;
  }
}

.contacts__list {
  margin: 0 0 62px 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin: 0 0 49px 50px;
    flex-direction: row;
  }

  @include desktop {
    margin: 0 0 84px 174px;
    flex-direction: column;
  }
}

.contacts__item {
  display: flex;
}

.contacts__item:first-child {
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 0;
    margin-right: 25px;
  }
}

.contacts__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @include tablet {
    font-size: 17px;
  }
}

.contacts__description--active {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: underline;
  text-decoration-color: #62d1ba;

  @include tablet {
    font-size: 17px;
  }
}

.contacts__name {
  width: 76px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @include tablet {
    font-size: 17px;
  }
}

.contacts__map {
  margin-bottom: 41px;
  display: block;
  border: none;
  width: 320px;

  @include tablet {
    width: 768px;
    height: 457px;
    margin: 0 -50px 55px -50px;
  }

  @include desktop {
    margin: 0;
    width: 527px;
    height: 457px;
    position: absolute;
    top: -67px;
    right: -2px;
  }
}

.contacts__button {
  display: block;
  margin: 0 auto 39px auto;
  background-color: #ffffff;
  border: 2px solid #444444;
  box-sizing: border-box;
  padding: 16px 38px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;

  @include tablet {
    font-size: 17px;
    margin: 0 auto 57px auto;
    padding: 16px 27px;
  }

  @include desktop {
    font-size: 17px;
    margin: 0 0 57px 174px;
    padding: 16px 27px;
  }
}
