.details {
  margin: 0 0 55px 0;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
  }
}

.details__box {
  display: flex;
  flex-direction: column;
  margin-top: 11px;

  @include tablet {
    margin: 0 32px 0 0;
    padding: 0 19px 50px 50px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 740px;
  }

  @include desktop {
    margin: 0 0 50px 0;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 700px;
  }
}

.details__description {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  @include tablet {
    margin: 0;
    font-size: 17px;
  }

  @include desktop {
    margin: 0;
    font-size: 17px;
  }
}

.details__button {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid #444444;
  padding: 18px 37px;
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #444444;

  @include tablet {
    padding: 16px 32px;
  }

  @include desktop {
    padding: 16px 31px;
  }

  &:hover {
    background-color: #444444;
    border: 2px solid #444444;
    color: #ffffff;
    cursor: pointer;
  }

  &:disabled {
    background-color: #444444;
    border: 2px solid #444444;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.details__contacts {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  @include tablet {
    background-color: #f1f1f1;
    padding: 50px 50px 6px 50px;
    width: 100vw;
    align-items: center;
  }

  @include desktop {
    background-color: #f1f1f1;
    padding: 50px 0 15px 0;
    align-items: center;
    width: 100vw;
  }
}

.details__frame {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12px;
    padding-bottom: 17px;
    max-width: 668px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12px;
    padding-bottom: 17px;
    max-width: 1050px;
  }
}
