.details-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @include tablet {
    font-size: 19px;
    line-height: 18px;
  }

  @include desktop {
    font-size: 19px;
    line-height: 18px;
  }
}
