.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -30px;
  background-color: #f1f1f1;
  min-height: 160px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
    margin: 0 -50px;
    padding: 49px 50px 58px 50px;
  }

  @include desktop {
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
    margin: 0 -50px;
    padding: 50px 50px 58px 50px;
  }
}

.footer__logo {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: block;
  }

  &:hover {
    fill: #46c1ae;
  }

  &:disabled {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.footer__hr {
  background-color: #e5e5e5;
  margin: 0 auto;
  width: 260px;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}
