.details__contacts {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  @include tablet {
    background-color: #f1f1f1;
  }

  @include desktop {
    background-color: #f1f1f1;
  }
}


.telephone {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}

.mail {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}
