.form__hero {
  background-color: #f1f1f1;
  min-width: 320px;
  min-height: 177px;
  display: flex;
}

.form__title {
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

.form__description {
  margin: 17px 30px 29px 30px;
  width: 260px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @include tablet {
    margin: 54px auto 63px auto;
    width: 668px;
  }

  @include desktop {
    margin: 98px auto 63px auto;
    width: 702px;
  }
}

.details {
  margin: 0 30px 55px 30px;
}

.details__box {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.details__description {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.details__button {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid #444444;
  padding: 18px 37px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
}
