.name {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}

.name__container {
  display: flex;
  flex-direction: column;
}
