.information {
  margin: 31px 0 28px 0;

  @include desktop {
    margin: 68px 0 90px 175px;
  }
}

.information__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @include tablet {
    margin-bottom: 41px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    margin-bottom: 39px;
    font-size: 53px;
    line-height: 57px;
  }
}

.information__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    display: grid;
    grid-template-columns: 265px 325px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 100px;
    row-gap: 59px;
    grid-auto-flow: column;
    margin-bottom: 83px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 265px 325px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 100px;
    row-gap: 59px;
    grid-auto-flow: column;
  }
}

.information__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 30px;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
  }
}

.information__item img {
  margin-bottom: 20px;
}
