.modal {
  padding: 28px 30px 46px 30px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
}

.modal__title {
  margin-bottom: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
