.modal {
  padding: 28px 30px 46px 30px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
}

.modal__title {
  margin-bottom: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.choice {
  text-align: center;
}

.choice__description {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.choice__button {
  background-color: #63d1bb;
  box-sizing: border-box;
  border: none;
  padding: 18px 68px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
}

.sizes {
  margin-bottom: 31px;
}
