.palette__container {
  position: relative;
  display: flex;
  align-items: center;
}

.palette__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  cursor: pointer;
}

.palette__style {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  cursor: pointer;

  @include tablet {
    width: 52px;
    height: 52px;
  }

  @include desktop {
    width: 52px;
    height: 52px;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:disabled {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.palette__input:checked + .palette__style {
  border-color: #444444;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.963 1.68385L22.9687 0.692322L8.76555 14.7862L1.73497 7.77467L0.740742 8.76619L7.77132 15.7777L8.76555 16.7692L9.83079 15.7777L23.963 1.68385Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include tablet {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='22' viewBox='0 0 33 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.3704 1.35683L31.0099 0L11.574 19.2863L1.95317 9.69163L0.592651 11.0485L10.2134 20.6432L11.574 22L13.0317 20.6432L32.3704 1.35683Z' fill='black'/%3E%3C/svg%3E");
    background-color: #f1f1f1;
  }

  @include desktop {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='22' viewBox='0 0 33 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.3704 1.35683L31.0099 0L11.574 19.2863L1.95317 9.69163L0.592651 11.0485L10.2134 20.6432L11.574 22L13.0317 20.6432L32.3704 1.35683Z' fill='black'/%3E%3C/svg%3E");
    background-color: #f1f1f1;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:disabled {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.palette__title {
  padding-left: 60px;

  @include tablet {
    padding-left: 82px;
  }

  @include desktop {
    padding-left: 82px;
  }
}
