.popover {
  height: 395px;
  width: 320px;
}

.popover__list {
  list-style-type: none;
}

.popover__link {
  background: #ffffff;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
