.pricelist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricelist__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

  @include tablet {
    font-size: 17px;
  }

  @include desktop {
    font-size: 17px;
  }
}

.pricelist__button svg {
  opacity: 0.2;

  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }

  &:disabled {
    fill: rgba($color: #63d1bb, $alpha: 0.3);
  }
}
