.product {
  display: flex;
  flex-direction: column;
  margin: 31px auto 0 auto;

  &::after {
    content: "";
    margin: 36px -30px 0 -30px;
    width: 100%;
    min-width: 320px;
    background: url("../img/background/zigzag.png") no-repeat;
    background-size: 100% 100%;
    min-height: 6px;
  }

  @include tablet {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    background-image: url("../img/background/background-basket.jpg");
    background-repeat: no-repeat;
    background-size: 334px 404px;
    background-position: right 150px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background-basket@2x.jpg");
      background-size: 334px auto;
    }

    &::after {
      position: absolute;
      left: -50px;
      bottom: -69px;
      margin: 0;
      min-width: 768px;
      content: "";
      background: url("../img/background/zigzag-desktop.png") no-repeat;
      background-size: 100% 100%;
      min-height: 17px;
    }
  }

  @include desktop {
    display: flex;
    max-width: 1050px;
    width: 100%;
    justify-content: center;
    position: relative;
    background-image: url("../img/background/background-basket.jpg");
    background-repeat: no-repeat;
    background-size: 525px 636px;
    background-position: right -12px;
    margin-top: 71px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background-basket@2x.jpg");
      background-size: 525px auto;
    }

    &::after {
      content: "";
      margin: 52px 50px 0 0;
      background: url("../img/background/zigzag-desktop.png") no-repeat;
      background-size: 100% 100%;
      min-height: 23px;
    }
  }
}

.product__box {
  display: flex;
  flex-direction: column;
  margin: 0 auto 3px auto;

  @include tablet {
    margin: 46px 13px 50px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    max-width: 800px;
    flex-direction: row;
    align-items: center;
    margin: 61px 0 35px 0;
  }
}

.product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @include tablet {
    order: 1;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.product__top {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;

  @include tablet {
    order: 2;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @include desktop {
    margin-right: 43px;
    order: 1;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }
}

.product__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include tablet {
    padding-right: 376px;
  }

  @include desktop {
    width: 467px;
    padding-left: 175px;
    margin: 0;
  }
}

.product__description {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @include tablet {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
  }
}

.product__table {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @include tablet {
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    margin-bottom: 109px;
    font-size: 17px;
    line-height: 30px;
  }
}

.product__image {
  max-width: 260px;
  margin-bottom: 25px;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.product__price {
  margin: 0 auto 24px auto;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;

  @include tablet {
    margin-bottom: 33px;
    font-size: 20px;
  }

  @include desktop {
    margin-bottom: 33px;
    font-size: 20px;
  }
}

.product__button {
  display: block;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #444444;
  box-sizing: border-box;
  padding: 16px 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-align: center;

  @include tablet {
    width: 292px;
    padding: 16px 86px;
    font-size: 17px;
  }

  @include desktop {
    padding: 16px 86px;
    font-size: 17px;
  }

  &:hover {
    background-color: #444444;
    border: 2px solid #444444;
    padding: 16px 70px;
    color: #ffffff;
  }

  &:disabled {
    background-color: #444444;
    border: 2px solid #444444;
    padding: 16px 70px;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
