.reviews {
  margin: 0 30px;

  &__reviews {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }

  &__slider {
    margin-top: 14px;
  }

  &__text {
    margin-bottom: 33px;
    width: 260px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  &__bottons {
    margin-bottom: 45px;
  }

  &__chevrons {
    margin-bottom: 38px;
  }

  &__send {
    margin-bottom: 45px;
    background-color: #ffffff;
    border: 2px solid #444444;
    box-sizing: border-box;
    padding: 16px 65px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #444444;
  }
}

.client {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &__link {
    font-weight: 400;
    color: #444444;
    text-decoration: none;
  }
}
.chevron {

  &__item {
    background-color: #ffffff;
    border: 2px solid #ececec;
    box-sizing: border-box;
    padding: 13px 42px 13px 38px;
  }

  &__item:first-child {
    margin-right: -6px;
  }
}

