.search {
  position: relative;

  @include tablet {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  @include desktop {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  span {
    @include tablet {
      position: absolute;
      opacity: 0;
    }

    @include desktop {
      position: absolute;
      opacity: 0;
    }
  }
}

.search svg {
  position: absolute;
  top: 30px;
  left: 32px;
  max-width: 18px;
  max-height: 18px;

  @include desktop {
    top: 36px;
  }

  &:hover {
    fill: #63d1bb;
  }

  &:disabled {
    fill: #63d1bb;
    opacity: 0.3;
  }
}
