.socials {
  position: relative;
  margin: 0 89px 28px 89px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    margin: 0 auto;
  }
}

.socials::after {
  content: "";
  position: absolute;
  bottom: -25px;
  z-index: 99;
  left: -60px;
  width: 260px;
  height: 1px;
  background-color: #e5e5e5;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.socials__item {
  margin-top: 25px;

  @include tablet {
    margin-top: 0;
  }

  @include desktop {
    margin-top: 0;
  }
}

.socials__item:not(:nth-child(3)) {
  margin-right: 28px;
}

.socials__link svg {
  &:hover {
    fill: #46c1ae;
  }

  &:disabled {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
