.type {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    padding: 67px 0;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 668px;
    width: 100%;
  }

  @include desktop {
    flex-direction: row;
    padding: 68px 95px 68px 61px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    max-width: 1050px;
    width: 100%;
  }
}

.type__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    margin-right: 133px;
  }
}

.type__list {
  margin: 33px 0 41px 0;

  @include tablet {
    flex-direction: column;
    margin: 0;
  }

  @include desktop {
    margin: 0 0 0 78px;
  }
}

.type__item:not(:last-child) {
  margin-bottom: 27px;

  @include tablet {
    margin-bottom: 58px;
  }

  @include desktop {
    margin-bottom: 56px;
  }
}
