.ware {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 260px;
  margin: 0 0 30px -30px;
  border: 1px solid #ececec;

  @include tablet {
    width: 669px;
    height: 334px;
    flex-direction: row;
    margin: 0 0 54px 0;
  }

  @include desktop {
    margin: 0;
    min-width: 316px;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 316px;
    width: 100%;
  }

}

.ware:nth-child(2) picture{
  padding-right: 4px;
}

.ware:last-child {
  margin-bottom: 0;
}

.ware__image {
  max-width: 260px;

  @include tablet {
    max-width: 334px;
  }

  @include desktop {
    max-width: 316px;
  }
}
