.mail {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row;
  }
}

.mail__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.mail__box {

  @include tablet {
    margin-left: 79px;
  }

  @include desktop {
    margin-left: 40px;
  }
}

.mail__input {
  padding: 16px 0 18px 0;
  height: 52px;
  min-width: 260px;
  border: none;
  box-shadow: inset 0px -2px 0px #000000;
  background-image: url("/img/background/mail.png");
  background-repeat: no-repeat;

  @include tablet {
    background-color: #f1f1f1;
    min-width: 501px;
  }

  @include desktop {
    background-color: #f1f1f1;
    min-width: 700px;
  }
}

.mail__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba($color: #000000, $alpha: 0.3);

  @include tablet {
    padding: 15px 22px 19px 18px;
  }

  @include desktop {
    padding: 15px 4px 19px 18px;
  }
}

.mail__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba($color: #000000, $alpha: 0.3);

  @include tablet {
    padding: 15px 22px 19px 18px;
  }

  @include desktop {
    padding: 15px 4px 19px 18px;
  }
}
