* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 320px;
  background-color: #ffffff;

  @include desktop {
    min-width: 1180px;
  }

  @include tablet {
    min-width: 768px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.divider {
  display: block;
  margin: 0;
}

.modal-close {
  display: none;
}

.popover-close {
  display: none;
}
