//common//
@import "./blocks/common/mixins.scss";
@import "./blocks/common/condition.scss";
@import "./blocks/common/font-face.scss";
@import "../sass/base.scss";
@import "./blocks/common/popover.scss";
@import "./blocks/common/header.scss";
@import "./blocks/common/navigation.scss";
@import "./blocks/common/menu.scss";
@import "./blocks/common/search.scss";
@import "./blocks/common/basket.scss";
@import "./blocks/common/contacts.scss";
@import "./blocks/common/footer.scss";

//catalog//
@import "./blocks/catalog/catalog.scss";
@import "./blocks/catalog/catalog-news.scss";
@import "./blocks/catalog/catalog-ware.scss";
@import "./blocks/catalog/catalog-item.scss";
@import "./blocks/catalog/catalog-pricelist.scss";

//form//
@import "./blocks/form/form.scss";
@import "./blocks/form/details.scss";
@import "./blocks/form/type.scss";
@import "./blocks/form/type-product.scss";
@import "./blocks/form/colors.scss";
@import "./blocks/form/name.scss";
@import "./blocks/form/chapter.scss";
@import "./blocks/form/telephone.scss";
@import "./blocks/form/mail.scss";
@import "./blocks/form/additionally.scss";
@import "./blocks/form/palette.scss";

//index//

@import "./blocks/index/hero.scss";
@import "./blocks/index/information.scss";
@import "./blocks/index/product.scss";
@import "./blocks/index/reviews.scss";
@import "./blocks/index/reviews-client.scss";
@import "./blocks/index/reviews-chevron.scss";
@import "./blocks/index/video.scss";

//modal//
@import "./blocks/modal/modal.scss";
@import "./blocks/modal/modal-sizes.scss";
@import "./blocks/modal/modal-choice.scss";
